# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Spyder
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Tensorflow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| IBM Watson Studio  |
| R Studio           |


### Below are a few examples of evaluating arithmetic expressions in Python

In [40]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5
17

17

In [46]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Parth Azad